body {
  margin: 0;
  height: 100vh;
  background: #f8c8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
}

.buttons {
  margin-top: 30px;
  position: relative;
  height: 60px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  position: absolute;
}
